{
    "presets": [
      ["@babel/preset-env"]
    ],
    "sourceMap": "inline",
    "retainLines": true,
    "plugins": [
      ["babel-plugin-transform-builtin-extend", {
          "globals": ["Error"]
      }],
      ["@babel/plugin-proposal-object-rest-spread"],
      ["@babel/plugin-proposal-optional-chaining"],
      ["@babel/plugin-proposal-nullish-coalescing-operator"]
    ]
  }